<head>
<script src="/assets/route_show.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body >
  <% if logged_in? %>
    <h1>
      Travels Booking
    </h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <%= form_for(:route, url: {controller:"routes", action: "search"}, format: :csv, html: { :onsubmit =>" return validateform()"}) do |f| %>
        
          <%= f.label :Source %><br>
          <%= f.collection_select(:sid, Place.all, :id, :name, :prompt => true, :style => "width: 50%", :class => 'form-control' ) %></br>

          <%= f.label :Destination %><br>
          <%= f.collection_select(:did, Place.all, :id, :name, :prompt => true, :style => "width: 50%", :class => 'form-control' ) %></br>
          
          <%= f.label :Journey_Date %>
          <%= f.date_field :date, class: 'form-control' ,:id=> 'date' %>
          
          <%= f.submit "Find", class: "btn btn-primary" %>
          <% end %>    
      </div>
    </div>

  <% else %>
     <div class="center jumbotron"\>
      <h1>
        Welcome to FreshBus Service
      </h1>
      <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
     </div>
  <%end %>
</body>